# Ignore Maven target directory
/target/

# Include the Maven wrapper jar
!.mvn/wrapper/maven-wrapper.jar

# Ignore build directories (for Gradle)
build/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Logs and OS
*.log
.DS_Store

# Environment variables
.env
